.main {
    width: 100%;
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .main_container {
    width: 100%;
    height: 100%;
  
    display: flex;
  }
  
  .left,
  .right {
    display: flex;
  }
  
  .right {
    width: 50%;
    background-color: #000;
  
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  
    color: var(--txt_white);
    gap: 30px;
  }
  
  .left {
    width: 70%;
  }
  
  .festival_pic {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.95),
        rgba(0, 0, 0, 0)
      ),
      url(../../../public/assets/images/bg_festival_bleu_violet.jpg);
    filter: brightness(120%);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .festival_pic img {
    width: 100%;
    height: 100%;
  }
  
  .main_title_right {
    font-size: 1.7em;
    font-family: "Cinzel Decorative", cursive;
    
  }
  
  .premier_concert_rock {
    font-size: 1.3em;
    font-family: "Cinzel", serif;
    color: rgb(216, 216, 216);
  }
  
  .date {
    font-size: 1.8em;
    font-weight: 600;
    background-color: var(--txt_white);
    color: black;
    padding: 0.4em 2em;
    border-radius: 5px;
  }
  
  .location {
    font-size: 4.5em;
    color: rgb(243, 199, 3);
    font-family: "Tangerine", cursive;
  }
  
  /* ==================================
            BUTTON CTA TICKETS
  ================================== */
  .button_tickets {
    font-size: 1.5em;
    padding: 0.6em 2.5em;
    background-color: rgb(99, 10, 201);
    box-shadow: 0px 0px 15px 8px rgb(99, 10, 201);
    -webkit-box-shadow: 0p x 0px 15px 11px rgb(99, 10, 201);
    -moz-box-shadow: 0px 0px 15px 8px rgb(99, 10, 201);
    margin-top: 20px;
    position: relative;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
  }
  
  .button_tickets a {
    color: var(--txt_white);
  }
  
  .button_tickets:hover {
    background-color: var(--clr-neon);
  
    transform: scale(1.10);
    transition: all 0.5s ease-in-out;
  }
  
  .neon-button::before {
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 130%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1.4em) rotateX(40deg) scale(0.8, 0.6);
    filter: blur(1em);
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
    -webkit-transform: perspective(1.4em) rotateX(40deg) scale(0.8, 0.6);
    -moz-transform: perspective(1.4em) rotateX(40deg) scale(0.8, 0.6);
    -ms-transform: perspective(1.4em) rotateX(40deg) scale(0.8, 0.6);
    -o-transform: perspective(1.4em) rotateX(40deg) scale(0.8, 0.6);
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 0.8em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    border-radius: 10px;
  
    transition: all 0.5s ease-in-out;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }
  
  /* ==================================
            ARROW ANIMATION
  ================================== */
  .arroww {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
  }
  
  .bounce {
    -moz-animation: bounce 4s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  .arroww a {
    color: white;
    bottom: 0;
  }
  
  .arroww {
    position: absolute;
    bottom: 60px;
    right: 0;
  }
  
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
  
    40% {
      transform: translateY(-30px);
    }
  
    60% {
      transform: translateY(-15px);
    }
  }
  

  .features_cards{

  }