/**Reset universel*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: break-word;
}

:root {
  --txt_white: #fff;
  --full-black: #000;
  --clr-neon: blueviolet;
  --gold: #ecb365;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  background-color: black;
  word-break: break-word;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
  transition: all 2s ease;
}

/**Fonts **/

/*Cinzel*/ @import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative:wght@700&family=EB+Garamond:ital@1&family=Great+Vibes&family=Parisienne&family=Playfair+Display+SC:ital@1&family=Tangerine:wght@700&display=swap");

/*Poppins*/ @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); 
